@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
}

#root {

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: start;
    align-items: center;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}   

html {
    background:  no-repeat center center fixed; 
    font-family: Roboto;
}

.Nav {
    display: flex;
    width: 100vw;
    background-color: #333333;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
  
}

.Nav-child {
    list-style: none;
  
}

.Nav-child a {
    color: #ffb347;
    text-decoration: none;
    
}

.Home {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;

}

.Home-title {
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Home-MainBox{
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
}

.Home-title-iconsBox {
    display: flex;
    flex-wrap: nowrap;
    max-height: 20vh;
    width: 80vw;
    align-items: center;
    justify-content: center;
}

.Home-title-iconsBox-icon {
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .Home-title-iconsBox-icon {
        height: 60%;
    }

}

.Home-MainBox-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    padding: 1%;
    
}

.Home-MainBox-child {
    display: flex;
    min-width: 50vw;
    max-width: 50vw;
    align-items: center;
    background: linear-gradient(90deg, rgba(246,216,103,1) 44%, rgba(255,255,255,1) 100%); 
}

.Home-MainBox-textbox-p{
    flex-grow: 1;
    font-size: 120%;
    padding: .1%;
}

.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin: auto;
}

.AboutHeadingBox-h1 {
    padding: 2%;
    font-weight: 100;
}

.AboutHeadingBox {
    margin-top: 5px;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    background: #faef93;
}

@media only screen and (max-width: 900px) {
    .AboutHeadingBox {
        width: 100%;
    }

    .AboutHeadingBox h1 {
        margin-left: auto;
        margin-right: auto;
    }

    .AboutHeadingBox-img {
        margin-left: auto;
        margin-right: auto;
    }

    .AboutImageBox img {
        height: 5rem;
    }
    

}

.AboutHeadingBox-img {
    height: 40px;
    border-radius: 100%;
}

.AboutTextBox {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 75%;
    padding: 1%;

}

.AboutTextBox-p {
    margin: 1%;
    max-width: 120ch;
}

.AboutTextBox-imgDiv {
    display: flex;
    max-height: 100%;
}

.AboutBox-imgDiv-img {
        height: 30vh;
        max-width: 100%;
        object-fit: cover;

}


.Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid plum;
    flex-grow: 1;
    justify-content: flex-start;
}

.Contact h1 {
    padding: 1%;
}

.Contact-form-box {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 40vw;
    background-color: #ffc61b;
    justify-self: center;
}

@media only screen and (max-width: 900px) {
    .Contact-form-box {
        min-width: 80vw;
    }
}

.Contact-form-box label, input, textarea {
    width: 100%;
    text-align: center;
    padding: 1%;
}

.Contact button {
 padding: 1%;
 margin: 1%;
 border: none;
 font-weight: 200;
 width: 100px;
}

.Contact-form-box-feedback {
    color: #dd352e;
    font-weight: 500;
}

.Portfolio {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Portfolio-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    border-bottom: 1px solid black;
    width: 90%;
}
.Portfolio-box-heading{

}

.Portfolio-box-text{
    padding: 1%;
    text-align: center;
}
.Portfolio-box-link{
    padding:1%;
    text-decoration: none;
    color: #ff761b;
    font-size: 120%;
}
.Portfolio-box-img{

}

