@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
}

#root {

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: start;
    align-items: center;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}   

html {
    background:  no-repeat center center fixed; 
    font-family: Roboto;
}

.Nav {
    display: flex;
    width: 100vw;
    background-color: #333333;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
  
}

.Nav-child {
    list-style: none;
  
}

.Nav-child a {
    color: #ffb347;
    text-decoration: none;
    
}

.Home {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;

}

.Home-title {
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Home-MainBox{
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
}

.Home-title-iconsBox {
    display: flex;
    flex-wrap: nowrap;
    max-height: 20vh;
    width: 80vw;
    align-items: center;
    justify-content: center;
}

.Home-title-iconsBox-icon {
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .Home-title-iconsBox-icon {
        height: 60%;
    }

}

.Home-MainBox-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    padding: 1%;
    
}

.Home-MainBox-child {
    display: flex;
    min-width: 50vw;
    max-width: 50vw;
    align-items: center;
    background: linear-gradient(90deg, rgba(246,216,103,1) 44%, rgba(255,255,255,1) 100%); 
}

.Home-MainBox-textbox-p{
    flex-grow: 1;
    font-size: 120%;
    padding: .1%;
}

.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin: auto;
}

.AboutHeadingBox-h1 {
    padding: 2%;
}

.AboutImageBox {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}

.AboutHeadingBox {
    display: flex;
    background-color: #fd703b;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.AboutHeadingBox-img {
    height: 40px;
    border-radius: 1000%;
}

.AboutImageBox-img {
    object-fit: cover;
    object-position: center;
    height: 10rem;
    width: 90vw;
}

.AboutTextBox {
    margin-top: 2%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start
}

.AboutTextBox-p {
    padding: 1%;
    max-width: 100ch;
    font-size: 120%;
}


